<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               人总会遇到挫折，会有低潮，会有不被人理解的时候，会有要低声下气的时候，这些时
               候恰恰是人生最关键的时候。在这样的时刻我们需要去耐心等待，满怀信心的去等待，
               相信生活不会放弃你，命运不会抛弃你。假如耐不住寂寞，你就看不到繁华。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               学会承担责任，是一个人成长过程中必须学会的，自己的责任不要指望别人来替你负担，
               假如你连自己的责任都承担不起，那你将失去了这个世界上存在的意义。
            </p>
        </div>
    </div>
</section>