<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>风景</title>
<style type="text/css">
strong {
	font-family: 华文楷体;
}
body {
	background-color: #96F;
}
body,td,th {
	font-size: xx-large;
}
</style>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onload="MM_preloadImages('images/1bd8a5ff1f9e3eb2c75d29ec7d31950b.jpg','images/f9dab4d6f573f47e256c3da769b0b798.jpg','images/420218d53cbaed610b89cd510df6b34e.jpg','images/14c73e764aba3e1d2bc66b2789f55528.jpg','images/37549f8d8cc38b101f7e96f0882f361e.jpg','images/6f255f4859c96e7d8cb260a120381601.jpg')">
<h1 align="center">风景图</h1>
<p align="center"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image1','','images/1bd8a5ff1f9e3eb2c75d29ec7d31950b.jpg',1)">&nbsp;</a><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','images/420218d53cbaed610b89cd510df6b34e.jpg',1)"><img src="images/下载.jpg" width="528" height="300" id="Image" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image2','','images/f9dab4d6f573f47e256c3da769b0b798.jpg',1)"><img src="images/fdfbe73f33500560427e178bae798b45.jpg" width="595" height="299" id="Image2" /></a></p>
<p align="center"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image3','','images/14c73e764aba3e1d2bc66b2789f55528.jpg',1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','images/37549f8d8cc38b101f7e96f0882f361e.jpg',1)"><img src="images/72a42909b6b6eb53462c38bc877b4f00.jpg" width="585" height="372" id="Image4" />  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','images/6f255f4859c96e7d8cb260a120381601.jpg',1)"><img src="images/14c73e764aba3e1d2bc66b2789f55528.jpg" width="662" height="370" id="Image3" /></a></p>
</body>
</html>
